<tr id="{{ALViewElement_rowId}}">
    <td id="{{ALViewElement_name}}" class="firstCell">
        <input type="hidden" id="{{ALViewElement_hiddenCellData}}" name="hiddenIdentifier[]">
    </td>
    <td><input type="text" id="{{ALViewElement_g}}" name="g-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_ab}}" name="ab-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_r}}" name="r-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_h}}" name="h-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_b2}}" name="b2-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_b3}}" name="b3-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_hr}}" name="hr-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_rbi}}" name="rbi-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_bb}}" name="bb-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_so}}" name="so-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_sb}}" name="sb-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_cs}}" name="cs-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_ibb}}" name="ibb-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_hbp}}" name="hbp-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_sacb}}" name="sacb-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_sacf}}" name="sacf-" class="stat_table_input"></td>
</tr>