<tr id="{{ALViewElement_rowId}}">
    <td id="{{ALViewElement_name}}" class="firstCell">
        <input type="hidden" id="{{ALViewElement_hiddenCellData}}" name="hiddenIdentifier[]">
    </td>
    <td><input type="text" id="{{ALViewElement_w}}" name="w-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_l}}" name="l-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_g}}" name="g-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_gs}}" name="gs-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_cg}}" name="cg-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_sv}}" name="sv-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_svo}}" name="svo-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_ip}}" name="ip-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_h}}" name="h-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_r}}" name="r-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_er}}" name="er-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_hr}}" name="hr-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_bb}}" name="bb-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_so}}" name="so-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_sho}}" name="sho-" class="stat_table_input"></td>
    <td><input type="text" id="{{ALViewElement_hbp}}" name="hbp-" class="stat_table_input"></td>
</tr>